body {
    margin: auto;
}

.profile{
    background-color: #f4f3f3;
    width: 550px;
    height: 350px;
    position: absolute;
    top: 22.8em;
    left: 27%;
    text-align: center;
    border-radius: 5px;
}

.profilepic-background{
    display: inline-block;
    background: linear-gradient(to right, #009688, #4CAF50);
    width: 550px;
    height: 300px;
    position: absolute;
    top: 4em;
    left: 27%;
    text-align: center;
}

#ProfilePic{ 
    border-radius: 70%;
    width: 180px;
    height: 180px;
    position: relative;
    top: 1em;
    left: 15px;
    right: 0em;
    border: 2px solid #f4f3f3;
   }

#Followers,#Following,#Posts{
    display: inline-block;
    padding: 3px;
}

#Name,#Username,#Location,#DateJoined {
    padding: 10;
    border-radius: 5px 5px 0px 0px;
    display: block;
    position: relative;
    top: 20px;
    left: 16px;
}

#aboutme{
    width: 400px;
    height: 100px;
    text-align: center;
    position: absolute;
    left: 33.3%;
    top: 25em;
    border-radius: 10px;
}

button{
    size: 5px;
    padding: 5px;
    align-items: center;
    color: white;
    background-color: darkblue;
}
